.header {
    background: lightgreen;
    height: 15vh;
}
.header{
    padding: 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
}

.item + .item {
    margin-left: 2%;
}

.header h1 {
    font-size: 2rem;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.header a {
    text-decoration: none;
}

.header button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 8px 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0.5rem;
}

.header button:hover {
    background-color: #4CAF50;
    color: white;
}
